/* You can add global styles to this file, and also import other style files */

@tailwind base;
@tailwind components;
@tailwind utilities;

body.dark .mdc-text-field .mdc-text-field__input,
body .dark .mdc-text-field .mdc-text-field__input {
  @apply focus:caret-primary-500 #{'!important'};
}

body {
  @apply text-[13px] font-medium;
}

body .dark {
  @apply text-night-100;
}

h2 {
  @apply mb-2 text-lg font-medium #{'!important'};
}

/* -------------------------------------------------------------------------- */
/* Font smoothing
/* -------------------------------------------------------------------------- */
*[class*="mat-"],
*[class*="mat-mdc-"] {
  -webkit-font-smoothing: auto !important;
  -moz-osx-font-smoothing: auto !important;

  * {
    -webkit-font-smoothing: auto !important;
    -moz-osx-font-smoothing: auto !important;
  }
}

/* ------------------------------------------------------------------------------------------------ */
/*  Monospace font
/* ------------------------------------------------------------------------------------------------ */
// Monospace text for mat-form-fields and other elements
.monospace-field {
  @apply font-mono text-sm #{'!important'};
}

/* ------------------------------------------------------------------------------------------------ */
/*  Scrollbar optimization
/* ------------------------------------------------------------------------------------------------ */
/* width */
::-webkit-scrollbar {
  height: 7px; /* horizontal scrollbar */
  width: 7px; /* vertical scrollbar */
}

/* Track */
::-webkit-scrollbar-track {
  @apply bg-primary-50;
  // border-radius: 5px;
}
.dark ::-webkit-scrollbar-track {
  @apply bg-gray-900;
}

/* Handle */
::-webkit-scrollbar-thumb {
  @apply bg-gray-400;
  border-radius: 5px;
}
.dark ::-webkit-scrollbar-thumb {
  @apply bg-gray-600;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  @apply bg-gray-500;
}
.dark ::-webkit-scrollbar-thumb:hover {
  @apply bg-gray-500;
}

/* ------------------------------------------------------------------------------------------------ */
/*  Icons
/* ------------------------------------------------------------------------------------------------ */
// the following class is used for the icons of the nested sidebar-items
.small-icon {
  @apply h-3.5 w-3.5 #{'!important'};
}

/* ------------------------------------------------------------------------------------------------ */
/*  Accent colors tweaks
/* ------------------------------------------------------------------------------------------------ */
.bg-accent {
  @apply bg-accent-500 dark:bg-accent-700 dark:text-accent-50 #{'!important'};
}
.text-accent {
  @apply text-accent-500 #{'!important'};
}

.example {
  font-family:
    Consolas,
    Menlo,
    DejaVu Sans Mono,
    Bitstream Vera Sans Mono,
    Lucida Console,
    monospace;
}

.bg-card {
  @apply bg-white dark:bg-black dark:bg-opacity-20 dark:text-night-100 #{'!important'};
}

/* ------------------------------------------------------------------------- */
/*  Mat Button: Colors tweaks
/* ------------------------------------------------------------------------- */
.mat-mdc-button.mat-accent,
.mat-mdc-outlined-button.mat-accent {
  &:not([disabled="true"]) {
    @apply text-accent-700 dark:text-accent-500 #{'!important'};
  }
}

.mat-mdc-fab.mat-primary,
.mat-mdc-mini-fab.mat-primary,
.mat-mdc-raised-button.mat-primary,
.mat-mdc-outlined-button.mat-primary {
  &:not([disabled="true"]) {
    @apply text-white dark:bg-primary-600 #{'!important'};
  }
}
.mat-mdc-fab.mat-accent,
.mat-mdc-mini-fab.mat-accent,
.mat-mdc-raised-button.mat-accent {
  &:not([disabled="true"]) {
    @apply bg-accent-500 dark:bg-accent-700 dark:text-accent-50 #{'!important'};
  }
}

/* ------------------------------------------------------------------------- */
/*  Mat Button: Rounded corners
/* ------------------------------------------------------------------------- */
.mat-mdc-button,
.mat-mdc-flat-button,
.mat-mdc-raised-button,
.mat-mdc-outlined-button,
.mat-mdc-unelevated-button {
  padding: 0 20px !important;
  border-radius: 9999px !important;
}

/* ------------------------------------------------------------------------- */
/*  Mat Button Toggle
/* ------------------------------------------------------------------------- */
.mat-button-toggle-group {
  .mat-button-toggle {
    font-weight: 500;
    &.mat-button-toggle-checked {
      @apply bg-accent-500 dark:bg-accent-700 #{'!important'};
    }
  }
}

/* ------------------------------------------------------------------------- */
/*  Mat Accordion
/* ------------------------------------------------------------------------- */
.mat-expansion-panel {
  border-radius: 1rem !important;
  transition: box-shadow 225ms cubic-bezier(0.4, 0, 0.2, 1);
  @apply shadow #{'!important'};

  &.mat-expanded,
  &:hover {
    @apply shadow-md dark:shadow-gray-800 #{'!important'};
  }

  &:not(.mat-expanded) {
    .mat-expansion-panel-header {
      &:not([aria-disabled="true"]) {
        &.cdk-keyboard-focused,
        &.cdk-program-focused,
        &:hover {
          background: transparent !important;
        }
      }
    }
  }

  .mat-expansion-panel-header {
    border-radius: unset !important;
    .mat-expansion-indicator {
      &:after {
        border-color: currentColor !important;
        @apply dark:text-gray-400 #{'!important'};
      }
    }
  }
}

/* -------------------------------------------------------------------------- */
/*  Mat Dialog
/* -------------------------------------------------------------------------- */
.mat-mdc-dialog-container {
  .mdc-dialog__surface {
    @apply dark:bg-night-800 dark:text-night-50 #{'!important'};
    border-radius: 16px !important;
    padding: 24px;
  }
}
.mdc-dialog .mdc-dialog__content {
  padding: 0 !important;
}

/* ------------------------------------------------------------------------- */
/*  Mat Tab Nav
/* ------------------------------------------------------------------------- */
.mat-mdc-tab-nav-bar.sticky-header > .mat-mdc-tab-link-container .mdc-tab-indicator__content--underline {
  min-height: 2px;
}

.mat-mdc-tab-nav-bar.sticky-header > .mat-mdc-tab-link-container .mdc-tab-indicator__content--underline,
.mat-mdc-tab:not(.mat-mdc-tab-disabled) .mdc-tab-indicator__content--underline {
  @apply border-primary-600 dark:border-night-200 #{'!important'};
}

/* Optimize contrast mat-tabs labels & border-color */
.mat-mdc-tab:not(.mat-mdc-tab-disabled).mdc-tab--active .mdc-tab__text-label,
.mat-mdc-tab:not(.mat-mdc-tab-disabled).mdc-tab--active .mdc-tab__text-label,
.mat-mdc-tab-link:not(.mat-mdc-tab-disabled).mdc-tab--active .mdc-tab__text-label,
.mat-mdc-tab:not(.mat-mdc-tab-disabled).mdc-tab--active .mdc-tab__text-label,
.mat-mdc-tab-link:not(.mat-mdc-tab-disabled).mdc-tab--active .mdc-tab__text-label {
  @apply text-primary-700 dark:text-night-50 #{'!important'};
  font-family: "Inter", sans-serif !important;
}

/* ------------------------------------------------------------------------- */
/*  Mat Form
/* ------------------------------------------------------------------------- */

/* When form-field is disabled */
.mat-form-field-disabled {
  .mat-mdc-input-element,
  .mat-mdc-form-field-type-mat-native-select,
  .mat-mdc-form-field-infix::after,
  .mat-mdc-form-field-label,
  .mat-mdc-select .mat-mdc-select-value,
  .mat-mdc-select .mat-mdc-select-arrow,
  .mat-mdc-option-text {
    @apply text-gray-500 dark:text-gray-400 #{'!important'};
    font-size: 14px;
  }
}

/* Optimize border contrast for disabled form-fields */
.mat-form-field-disabled {
  .mdc-notched-outline__leading,
  .mdc-notched-outline__notch,
  .mdc-notched-outline__trailing {
    @apply border-gray-300 dark:border-gray-700 #{'!important'};
  }
}
/* Required change for contrast optimization */
.mat-form-field-disabled {
  .mdc-notched-outline__notch {
    @apply border-l-transparent #{'!important'};
  }
}
/* Required change for contrast optimization */
.dark {
  .mat-form-field-disabled {
    .mdc-notched-outline__notch {
      @apply border-l-transparent #{'!important'};
    }
  }
}

/* Optimize contrast for selected items in a drop-down in dark mode */
.mat-primary .mat-mdc-option.mdc-list-item--selected:not(.mdc-list-item--disabled) .mdc-list-item__primary-text {
  @apply dark:text-primary-400 #{'!important'};
}

/* appearance = outline */
.mat-form-field-appearance-outline:not(mat-focused) .mat-mdc-form-field-outline-think {
  @apply text-gray-200 dark:text-gray-600 #{'!important'};
  font-size: 14px;
}

/* "outline" appearance */
.mat-mdc-form-field.mat-form-field-appearance-outline {
  font-size: 14px;

  /* Fix: Tailwind's global border setting caused an extra border on the right side of the notch */
  .mat-mdc-text-field-wrapper {
    .mat-mdc-form-field-flex {
      .mdc-notched-outline {
        .mdc-notched-outline__notch {
          border-right-style: none !important;
        }
      }
    }
  }

  /* Focused */
  &.mat-focused:not(.mat-form-field-invalid) {
    /* Primary */
    &.mat-primary {
      .mdc-notched-outline__leading,
      .mdc-notched-outline__notch,
      .mdc-notched-outline__trailing {
        @apply dark:border-night-200 #{'!important'};
      }
      .mdc-floating-label.mat-mdc-floating-label {
        @apply dark:text-night-200 #{'!important'};
      }
    }
  }
}

/* -------------------------------------------------------------------------- */
/*  Mat Textarea
/* -------------------------------------------------------------------------- */
textarea.mat-mdc-input-element {
  box-sizing: content-box !important;
}

/* Default style tweaks and enhancements */
.mat-mdc-text-field-wrapper {
  padding: 0;

  /* Form field */
  .mat-mdc-form-field-flex {
    display: flex;
    align-items: stretch;

    /* Infix */
    .mat-mdc-form-field-infix {
      position: static;
      display: flex;
      align-items: center;
      min-height: 48px;
      padding: 0;
      border: 0;

      /* Textarea */
      textarea.mat-mdc-input-element {
        margin: 12px 0;
        padding: 0 6px 0 0;
      }
    }
  }
}

/* -------------------------------------------------------------------------- */
/*  Overlay
/* -------------------------------------------------------------------------- */
.overlay-backdrop {
  @apply bg-transparent #{'!important'};
}

.overlay-content {
  max-height: 300px; /* default height */
  max-width: 700px; /* default width */
}
@media screen and (max-width: 768px) {
  .overlay-content {
    max-height: 200px; /* adjust for smaller screens */
    max-width: 600px;
  }
}
@media screen and (max-width: 480px) {
  .overlay-content {
    max-height: 150px; /* adjust for even smaller screens */
    max-width: 450px;
  }
}

/* ------------------------------------------------------------------------- */
/*  Alert
/* ------------------------------------------------------------------------- */

/* Alert Appearance Fill: */
/* Info */
.mat-mdc-snack-bar-container.alert-type-fill-info .mdc-snackbar__surface {
  @apply bg-blue-200 #{'!important'};
}

/* Warning */
.mat-mdc-snack-bar-container.alert-type-fill-warning .mdc-snackbar__surface {
  @apply bg-yellow-500 #{'!important'};
}

/* Success */
.mat-mdc-snack-bar-container.alert-type-fill-success .mdc-snackbar__surface {
  @apply bg-green-600 #{'!important'};
}

/* Error */
.mat-mdc-snack-bar-container.alert-type-fill-error .mdc-snackbar__surface {
  @apply bg-red-600 #{'!important'};
}

.mat-mdc-snack-bar-container.alert-type-fill-info .mdc-snackbar__surface,
.mat-mdc-snack-bar-container.alert-type-fill-info .mdc-snackbar__label,
.mat-mdc-snack-bar-container.alert-type-fill-warning .mdc-snackbar__surface,
.mat-mdc-snack-bar-container.alert-type-fill-warning .mdc-snackbar__label {
  @apply text-gray-900 #{'!important'};
  .mat-mdc-button {
    @apply text-gray-900 #{'!important'};
  }
}
.mat-mdc-snack-bar-container.alert-type-fill-success .mdc-snackbar__surface,
.mat-mdc-snack-bar-container.alert-type-fill-error .mdc-snackbar__surface,
.mat-mdc-snack-bar-container .mdc-snackbar__label {
  @apply text-white #{'!important'};
  .mat-mdc-button {
    @apply text-white #{'!important'};
  }
}

/* Alert Appearance Outline: */
/* Info */
.alert-outline-info,
.mat-mdc-snack-bar-container.alert-type-outline-info .mdc-snackbar__surface {
  @apply bg-gray-100 ring-1 ring-inset ring-gray-400 dark:bg-gray-700 #{'!important'};
  @apply text-gray-700 dark:text-gray-100 #{'!important'};
}

/* Error */
.alert-outline-error,
.mat-mdc-snack-bar-container.alert-type-outline-error .mdc-snackbar__surface {
  @apply bg-gray-100 ring-1 ring-inset ring-red-400 dark:bg-gray-700 #{'!important'};
  @apply text-red-600 dark:text-red-400 #{'!important'};
}

/* Warning */
.mat-mdc-snack-bar-container.alert-type-outline-warning .mdc-snackbar__surface {
  @apply bg-yellow-300 ring-1 ring-inset ring-yellow-700 #{'!important'};
  @apply text-gray-900 #{'!important'};
}

/* Success */
.mat-mdc-snack-bar-container.alert-type-outline-success .mdc-snackbar__surface {
  @apply bg-green-50 ring-1 ring-inset ring-green-400 #{'!important'};
  @apply text-green-700 #{'!important'};
}

.disclaimer-type-outline {
  font-size: 14px;
}
/* Error */
.disclaimer-type-outline,
.mat-mdc-snack-bar-container.alert-type-outline-error .mdc-snackbar__surface {
  @apply bg-red-50 ring-1 ring-inset ring-red-400 dark:bg-red-600 #{'!important'};
  @apply text-red-600 dark:text-white #{'!important'};
}

/* Alert Appearance Soft: */
/* Info */
.mat-mdc-snack-bar-container.alert-type-soft-info .mdc-snackbar__surface {
  @apply bg-gray-100 #{'!important'};
  @apply text-gray-700 #{'!important'};
}

/* Warning */
.mat-mdc-snack-bar-container.alert-type-soft-warning .mdc-snackbar__surface {
  @apply bg-yellow-300 #{'!important'};
  @apply text-gray-900 #{'!important'};
}

/* Success */
.mat-mdc-snack-bar-container.alert-type-soft-success .mdc-snackbar__surface {
  @apply bg-green-50 #{'!important'};
  @apply text-green-700 #{'!important'};
}

/* Error */
.mat-mdc-snack-bar-container.alert-type-soft-error .mdc-snackbar__surface {
  @apply bg-red-50 #{'!important'};
  @apply text-red-700 #{'!important'};
}

/* Common for alerts */
.alert-outline-info,
.mat-mdc-snack-bar-container.alert-type-outline-info .mdc-snackbar__surface,
.mat-mdc-snack-bar-container.alert-type-outline-warning .mdc-snackbar__surface,
.mat-mdc-snack-bar-container.alert-type-outline-success .mdc-snackbar__surface,
.mat-mdc-snack-bar-container.alert-type-outline-error .mdc-snackbar__surface,
.mat-mdc-snack-bar-container.alert-type-soft-info .mdc-snackbar__surface,
.mat-mdc-snack-bar-container.alert-type-soft-warning .mdc-snackbar__surface,
.mat-mdc-snack-bar-container.alert-type-soft-success .mdc-snackbar__surface,
.mat-mdc-snack-bar-container.alert-type-soft-error .mdc-snackbar__surface {
  .mat-mdc-button {
    @apply text-black #{'!important'};
  }
}
