<div class="flex items-center">
  <!-- if Not isEditMode & Not isCreateMode && Not CreateMode -->
  @if (!isEditMode && !isCreateMode && !isRestoreMode) {
    @for (actionButton of customActionsButtons; track actionButton) {
      <div [matTooltip]="actionButton.tooltipMessage || actionButton.label | transloco">
        <button
          type="button"
          id="clickAction"
          mat-button
          color="accent"
          [disabled]="actionButton.disabled"
          (click)="$event.stopPropagation(); clickAction.emit(actionButton.name)"
        >
          <mat-icon>{{ actionButton.icon }}</mat-icon>
          {{ actionButton.label | transloco }}
        </button>
      </div>
    }
  }

  @if (!isEditMode && !isCreateMode) {
    <button
      type="button"
      id="editButton"
      mat-button
      color="accent"
      [matTooltip]="'shared.BUTTONS.UPDATE' | transloco"
      (click)="$event.stopPropagation(); clickEdit.emit()"
    >
      <mat-icon>edit</mat-icon>
      {{ "shared.BUTTONS.UPDATE" | transloco }}
    </button>
  }

  <!-- if isEditMode or isCreateMode -->
  @if (isEditMode || isCreateMode) {
    <div class="mr-4 flex items-center">
      <button
        type="button"
        id="cancelButton"
        mat-stroked-button
        [matTooltip]="'shared.BUTTONS.CANCEL' | transloco"
        (click)="$event.stopPropagation(); clickCancel.emit()"
      >
        {{ "shared.BUTTONS.CANCEL" | transloco }}
      </button>
    </div>
  }

  @if ((isEditMode && !isRestoreMode) || isCreateMode) {
    <button
      type="button"
      id="saveButton"
      mat-flat-button
      color="primary"
      [matTooltip]="'shared.BUTTONS.SAVE' | transloco"
      [disabled]="form.invalid || !form.dirty"
      (click)="$event.stopPropagation(); clickSave.emit()"
    >
      {{ "shared.BUTTONS.SAVE" | transloco }}
    </button>
  }
</div>
