<h2
  [ngClass]="{ 'rounded-2xl bg-yellow-300 p-2 dark:text-gray-900': data.type === 'warning' }"
  data-testid="headline-confirm-dialog"
>
  {{ data.title | transloco: { value: data.itemIdentifier || "" } }}
</h2>

<div class="mb-4">
  <p>{{ data.text | transloco: { value: data.itemIdentifier || "" } }}</p>
</div>

@if (data.choices?.length) {
  <div class="mb-4">
    <mat-radio-group [attr.aria-label]="'shared.BUTTONS.SELECT_AN_OPTION' | transloco" class="flex flex-col">
      @for (choice of data.choices; track choice) {
        <mat-radio-button [checked]="choice.isDefault" [value]="choice.name" (click)="selectedOption = choice.name">
          {{ choice.label | transloco }}
        </mat-radio-button>
      }
    </mat-radio-group>
  </div>
}

@if (data.textArea) {
  <form [formGroup]="form">
    <div class="flex flex-row items-center">
      <div class="line"><mat-divider></mat-divider></div>
      <span class="text">{{ "shared.COMMENT_DIVIDER" | transloco }}</span>
      <div class="line"><mat-divider></mat-divider></div>
    </div>
    <mat-form-field class="w-full pt-3">
      <mat-label>{{ "shared.FIELDS.COMMENT" | transloco }}</mat-label>
      <textarea matInput [formControlName]="'comment'" [rows]="2" cdkTextareaAutosize [cdkAutosizeMinRows]="4">
      </textarea>
      @if (form.get("comment")?.hasError("required")) {
        <mat-error>
          {{ "shared.ERROR.COMMENT_REQUIRED" | transloco }}
        </mat-error>
      }
    </mat-form-field>
  </form>
}

@if (data.mode === "confirmWithComment") {
  <div>
    <ng-container *ngTemplateOutlet="confirmWithComment; context: { hasAction: data.hasActions }"></ng-container>
  </div>
}

@if (data.mode === "confirmAction" || data.mode === "delete") {
  <div>
    <ng-container *ngTemplateOutlet="confirmOrDelete; context: { hasAction: data.hasActions }"></ng-container>
  </div>
}

@if (data.mode === "create") {
  <div>
    <ng-container *ngTemplateOutlet="create; context: { hasAction: data.hasActions }"></ng-container>
  </div>
}

@if (data.mode === "activate") {
  <div>
    <ng-container *ngTemplateOutlet="activate; context: { hasAction: data.hasActions }"></ng-container>
  </div>
}

<ng-template #confirmOrDelete let-hasAction="hasAction">
  @if (hasAction) {
    <div mat-dialog-actions>
      <button mat-stroked-button (click)="onNoClick()" data-testid="button-confirm-cancel">
        {{ "shared.BUTTONS.CANCEL" | transloco }}
      </button>
      <button mat-raised-button [mat-dialog-close]="true" cdkFocusInitial data-testid="button-confirm-ok">
        {{ "shared.BUTTONS.OK" | transloco }}
      </button>
    </div>
  }
</ng-template>

<ng-template #confirmWithComment let-hasAction="hasAction">
  @if (hasAction) {
    <div mat-dialog-actions>
      <button mat-stroked-button (click)="onNoClick()" data-testid="button-confirm-with-comment-cancel">
        {{ "shared.BUTTONS.CANCEL" | transloco }}
      </button>
      <button
        mat-raised-button
        [mat-dialog-close]="{ comment: form.get('comment')?.value, confirmed: true, selectedOption }"
        cdkFocusInitial
        [disabled]="!form.valid"
        data-testid="button-confirm-with-comment-ok"
      >
        {{ "shared.BUTTONS.OK" | transloco }}
      </button>
    </div>
  }
</ng-template>

<ng-template #create let-hasAction="hasAction">
  @if (hasAction) {
    <div mat-dialog-actions>
      <button mat-stroked-button (click)="onNoClick()" data-testid="button-create-cancel">
        {{ "shared.BUTTONS.CANCEL" | transloco }}
      </button>
      <button mat-raised-button [mat-dialog-close]="true" cdkFocusInitial data-testid="button-create-ok">
        {{ "shared.BUTTONS.CREATE" | transloco }}
      </button>
    </div>
  }
</ng-template>

<ng-template #activate let-hasAction="hasAction">
  @if (hasAction) {
    <div mat-dialog-actions>
      <button mat-stroked-button (click)="onNoClick()" cdkFocusInitial data-testid="button-activate-cancel">
        {{ "shared.BUTTONS.CANCEL" | transloco }}
      </button>
      <button
        mat-raised-button
        [disabled]="!selectedOption"
        [mat-dialog-close]="selectedOption"
        data-testid="button-activate-ok"
      >
        {{ "shared.BUTTONS.OK" | transloco }}
      </button>
    </div>
  }
</ng-template>
