<div class="line-clamp-1 flex items-center font-medium">
  <svg class="mr-2 hidden h-6 w-6 rounded-full bg-white dark:bg-black lg:block" [data-jdenticon-value]="name"></svg>
  <span class="truncate">{{ name }}</span>
</div>
