<nav aria-label="Progress">
  <ol role="list" class="flex space-x-8 text-gray-500 dark:text-gray-300">
    @for (step of stepperSteps; track step; let i = $index) {
      <li class="flex-1">
        <a
          class="flex flex-col border-b-4 border-gray-200 pb-2"
          [ngClass]="{
            'border-primary-400 dark:border-primary-200': step.isCompleted,
            'border-primary-600 dark:border-primary-400': step.isCurrent,
          }"
          [attr.aria-current]="step.isCurrent ? 'step' : null"
          [matTooltip]="step.title | transloco"
        >
          <span
            class="text-sm font-medium"
            [ngClass]="{
              'text-primary-600 dark:text-primary-400': step.isCurrent || step.isCompleted,
            }"
            >{{ "shared.STEPPER.STEP" | transloco }} {{ i + 1 }}</span
          >
          <span
            class="hidden text-sm font-medium md:block"
            [ngClass]="{ 'text-black dark:text-primary-400': step.isCurrent }"
            >{{ step.title | transloco }}</span
          >
        </a>
      </li>
    }
  </ol>
</nav>

<!-- stepper content (render specific step content with using the currentStepIndex as condition here) -->
<ng-content></ng-content>

<!-- stepper navigation buttons -->
<div class="flex items-center justify-between">
  <div>
    <!-- Go back -->
    @if (currentStepIndex > 0) {
      <button
        type="button"
        libIconButton
        class="bg-primary-600 text-white hover:bg-primary-500 focus-visible:outline-primary-600"
        (click)="handleGoBack(1)"
        [matTooltip]="
          'shared.STEPPER.GO_BACK_TO'
            | transloco: { previousStep: stepperSteps[currentStepIndex - 1].title | transloco }
        "
      >
        <svg-icon src="/assets/icons/tablericons/arrow-left.svg"></svg-icon>
      </button>
    }
  </div>
  <div>
    <!-- Go Forward / Save -->
    <button
      type="button"
      libIconButton
      class="bg-primary-600 text-white hover:bg-primary-500 focus-visible:outline-primary-600"
      [disabled]="goForwardIsDisabled"
      (click)="handleGoForward(1)"
      [matTooltip]="
        goForwardIsDisabled
          ? ('shared.STEPPER.GO_FORWARD_DISABLED_TOOLTIP' | transloco)
          : currentStepIndex < stepperSteps.length - 1
            ? ('shared.STEPPER.GO_FORWARD_TO'
              | transloco: { nextStep: stepperSteps[currentStepIndex + 1].title | transloco })
            : ('shared.STEPPER.SAVE' | transloco: { context: stepperContext | transloco })
      "
    >
      @if (isLoading) {
        <svg-icon class="animate-spin" src="/assets/icons/tablericons/loader-2.svg"></svg-icon>
      } @else if (currentStepIndex < stepperSteps.length - 1) {
        <svg-icon src="/assets/icons/tablericons/arrow-right.svg"></svg-icon>
      } @else {
        <svg-icon src="/assets/icons/tablericons/save.svg"></svg-icon>
      }
    </button>
  </div>
</div>
