<div class="bg-card mb-4 rounded-2xl shadow-md dark:shadow-gray-600">
  <div class="mb-4 flex w-full items-center justify-between border-b p-4 pb-1 dark:border-b-gray-500">
    <ng-content select="[cardHeader]"></ng-content>
  </div>

  <div class="mx-4">
    <ng-content select="[cardContent]"></ng-content>
  </div>
</div>
