@if (values.length || stringValues.length) {
  <div>
    @if (title) {
      <div class="mb-3 font-medium" id="title" [matTooltip]="hoverDescription">{{ title }}</div>
    }
    <div class="mb-3 flex flex-wrap px-2">
      @for (value of values; track trackByFn(i, value); let i = $index) {
        <div
          class="chip mx-1 mb-2 rounded-full px-3 py-0.5 text-sm font-medium"
          [id]="'chip-' + i"
          [ngClass]="{
            'bg-gray-200 text-gray-500 dark:bg-gray-600 dark:text-gray-200':
              !(isClickable && selectedId === value[id]) && !allSelected,
            'bg-primary-600 text-white': (isClickable && selectedId === value[id]) || allSelected,
            'hover:cursor-pointer hover:bg-opacity-60 hover:shadow-lg dark:hover:bg-opacity-60': isClickable,
          }"
          [matTooltip]="value['short'] || ''"
          [routerLink]="['./']"
          [fragment]="value[id] ?? null"
          (click)="clickValue.emit(value)"
        >
          @if (keyToDisplay) {
            <span>{{ value[keyToDisplay] }}</span>
          }
          @if (!keyToDisplay) {
            <span>{{ value }}</span>
          }
        </div>
      }
      @for (stringValue of stringValues; track trackByFn(i, stringValue); let i = $index) {
        <div
          class="mx-1 mb-2 rounded-full bg-gray-200 px-3 py-0.5 text-sm font-medium text-gray-500 dark:bg-gray-600 dark:text-gray-200"
          [id]="'string-chip-' + i"
          [ngClass]="{
            'bg-primary-600 text-white': (isClickable && selectedId === stringValue) || allSelected,
            'hover:cursor-pointer hover:bg-opacity-60 hover:shadow-lg dark:hover:bg-opacity-60': isClickable,
          }"
          (click)="clickStringValue.emit(stringValue)"
        >
          <span>{{ stringValue }}</span>
        </div>
      }
    </div>
  </div>
}
