<div id="breadcrumb" class="flex flex-wrap items-center text-sm font-medium text-primary-600 dark:text-primary-400">
  @for (breadcrumbItem of breadcrumbItems(); track $index) {
    <div class="items-center whitespace-nowrap" [ngClass]="{ 'ml-1 flex': !$first }">
      @if (!$first) {
        <mat-icon class="icon-size-5">chevron_right</mat-icon>
      }
      <a
        [ngClass]="{
          'hover:text-gray-700 hover:dark:text-gray-300': breadcrumbItem.routerLink,
          'text-gray-700 dark:text-gray-300': $last,
        }"
        [routerLink]="breadcrumbItem.routerLink"
        [queryParams]="breadcrumbItem.queryParams"
        [fragment]="breadcrumbItem.fragment!"
      >
        @if (!breadcrumbItem.translate) {
          <span>{{ breadcrumbItem.label }}</span>
        } @else if (breadcrumbItem.translate) {
          <span>{{ breadcrumbItem.label | transloco: breadcrumbItem.messageParams }}</span>
        }
      </a>
    </div>
  }
</div>
