<mat-expansion-panel
  [(expanded)]="expanded"
  (click)="$event.stopPropagation(); toggleExpand.emit()"
  (opened)="opened.emit()"
  class="bg-card"
>
  <!-- Not Expanded Layout -->
  <mat-expansion-panel-header [ngClass]="{ 'mb-4 border-b pb-1 dark:border-b-gray-500': expanded }">
    <mat-panel-title class="dark:text-gray-100" [id]="id">
      {{ title }}
      @if (author) {
        <div class="flex items-center gap-2 pl-4 opacity-70">
          <span>{{ "shared.FIELDS.CREATED_BY" | transloco }}:</span>
          <lib-user-icon-avatar [name]="author" />
        </div>
      }
    </mat-panel-title>

    <mat-panel-description class="items-center justify-end">
      <ng-content select="[cardHeader]"></ng-content>
    </mat-panel-description>
  </mat-expansion-panel-header>

  <div class="flex flex-col">
    <!-- Expanded Layout -->
    <ng-content select="[cardContent]"></ng-content>
  </div>
</mat-expansion-panel>
