<div class="flex items-center justify-center">
  <!-- Search field -->
  <mat-form-field class="-mb-5 w-full">
    <svg-icon matPrefix [class]="'ml-2 flex'" src="assets/icons/tablericons/search.svg"> </svg-icon>
    <input
      [formControl]="searchControl"
      [placeholder]="placeholder || ('shared.SEARCH.PLACEHOLDER' | transloco)"
      matInput
    />
  </mat-form-field>
  <!--<form [formGroup]="form">
    <div class="relative">
      <svg-icon
        class="pointer-events-none absolute left-4 top-3.5 h-5 w-5 text-gray-400"
        src="assets/icons/heroicons/outline/magnifying-glass.svg"
      >
      </svg-icon>
      <input
        type="text"
        class="h-12 w-full border-0 bg-transparent pl-11 pr-4 text-gray-900 placeholder:text-gray-400 focus:ring-0 sm:text-sm"
        [placeholder]="placeholder || ('shared.SEARCH.PLACEHOLDER' | transloco)"
        [formControl]="searchControl"
      />
    </div>
  </form>-->
</div>
