<div (click)="toggleTheme()" class="group flex h-9 cursor-pointer items-center justify-start rounded p-2">
  <svg-icon
    [src]="themeService.isDark ? 'assets/icons/tablericons/sun-high.svg' : 'assets/icons/tablericons/moon.svg'"
    [svgClass]="'h-5 w-5'"
  >
  </svg-icon>

  <a class="ml-3 truncate text-xs font-semibold tracking-wide focus:outline-none">
    {{ (themeService.isDark ? "shared.SCHEME.LIGHT" : "shared.SCHEME.DARK") | transloco }}
  </a>

  <!-- Tooltip -->
  @if (showTooltip) {
    <div class="fixed z-[1010] w-full">
      <span
        class="z-1 absolute -top-4 left-12 w-auto min-w-max origin-left scale-0 rounded-md bg-black p-2 text-xs font-bold text-white shadow-md transition-all duration-200 group-hover:scale-100 dark:bg-white dark:text-night-900"
      >
        {{ (themeService.isDark ? "shared.SCHEME.LIGHT" : "shared.SCHEME.DARK") | transloco }}
      </span>
    </div>
  }
</div>
