@if (paginationData.resultCount >= 10) {
  <div class="mb-4 mt-4 flex items-center justify-center">
    <!-- First Page Button -->
    <button
      mat-icon-button
      (click)="onLoadFirstPage()"
      [disabled]="paginationData.currentPageIndex === 1"
      [matTooltip]="'shared.PAGINATOR.FIRST_PAGE' | transloco"
    >
      <mat-icon>first_page</mat-icon>
    </button>
    <!-- Previous Page Button -->
    <button
      mat-icon-button
      (click)="onLoadPreviousPage(paginationData.currentPageIndex!)"
      [disabled]="paginationData.currentPageIndex === 1"
      [matTooltip]="'shared.PAGINATOR.PREVIOUS_PAGE' | transloco"
    >
      <mat-icon>skip_previous</mat-icon>
    </button>
    <!-- Page Size Selector -->
    <mat-form-field class="-mb-6 flex w-24">
      <mat-select
        [(value)]="paginationData.currentPageSize"
        (selectionChange)="onChangePageSize($event.value)"
        aria-label="Test"
        [matTooltip]="'shared.PAGINATOR.ITEMS_PER_PAGE' | transloco"
      >
        @for (page of pageSizeOptions; track page) {
          <mat-option [value]="page">{{ page }}</mat-option>
        }
      </mat-select>
    </mat-form-field>
    <!-- Page Counter -->
    <span class="ml-3 mr-3"
      >{{ "shared.PAGINATOR.PAGE" | transloco }} {{ paginationData.currentPageIndex }}
      {{ "shared.PAGINATOR.OF" | transloco }} {{ paginationData.totalPages }}</span
    >
    <!-- Next Page Button -->
    <button
      mat-icon-button
      (click)="onLoadNextPage(paginationData.currentPageIndex!)"
      [disabled]="paginationData.currentPageIndex === paginationData.totalPages"
      [matTooltip]="'shared.PAGINATOR.NEXT_PAGE' | transloco"
    >
      <mat-icon>skip_next</mat-icon>
    </button>
    <!-- Last Page Button -->
    <button
      mat-icon-button
      (click)="onLoadLastPage()"
      [disabled]="paginationData.currentPageIndex === paginationData.totalPages"
      [matTooltip]="'shared.PAGINATOR.LAST_PAGE' | transloco"
    >
      <mat-icon>last_page</mat-icon>
    </button>
  </div>
}
