<div
  class="h-full bg-[url('/assets/img/background/bg.svg')] bg-cover bg-center dark:bg-[url('/assets/img/background/bg_dark.svg')]"
>
  <div class="container mx-auto max-w-2xl p-5 dark:text-gray-300">
    <p class="my-10 text-center text-3xl">FAQ</p>
    <div id="faqs" class="rounded-md bg-white bg-opacity-40 p-4 dark:bg-black dark:bg-opacity-30">
      @for (faq of faqs; track faq) {
        <div id="faq-item" class="py-4">
          <p class="text-xl font-semibold">{{ faq.question }}</p>
          <p class="mt-2">{{ faq.answer }}</p>
        </div>
      } @empty {
        <p class="text-gray-500">No FAQs found</p>
      }
    </div>
  </div>
</div>
