<nav class="flex flex-1 flex-col" aria-label="Sidebar">
  <ul role="list" class="space-y-1">
    @for (menuItem of menuService.menuItems(); track $index) {
      @for (item of menuItem.children; track $index) {
        <!-- Menu items -->
        @if (item.children) {
          <!-- render submenu items -->
          @for (subItem of item.children; track $index) {
            <li
              [ngClass]="{
                'border-t border-t-night-100/50 pt-1': $first,
                'border-b border-b-night-100/50 pb-1': $last,
              }"
            >
              <a
                class="group flex items-center gap-x-3 rounded-md p-2 text-xs font-semibold text-night-100 hover:bg-slate-600 hover:dark:bg-night-500"
                [routerLink]="subItem.route"
                [routerLinkActive]="'text-primary-500 dark:text-primary-500'"
                [attr.data-testid]="'sidenav-' + subItem.route"
              >
                @if (subItem.icon) {
                  <svg-icon [src]="subItem.icon" [svgClass]="'h-5 w-5'"> </svg-icon>
                }
                <!-- Label -->
                @if (menuService.showSidebar()) {
                  <span class="whitespace-nowrap">{{ subItem.label | transloco }}</span>
                }
                <!-- Tooltip -->
                @if (!menuService.showSidebar()) {
                  <div class="fixed z-[1010] w-full">
                    <span
                      class="z-1 absolute -top-[15px] left-14 w-auto min-w-max origin-left scale-0 rounded-md bg-black p-2 text-xs font-bold text-white shadow-md transition-all duration-200 group-hover:scale-100 dark:bg-white dark:text-night-900"
                    >
                      {{ subItem.label | transloco }}
                    </span>
                  </div>
                }
              </a>
            </li>
          }
        } @else {
          <li>
            <a
              [routerLink]="item.route"
              [routerLinkActive]="'text-primary-500 dark:text-primary-500'"
              class="group flex cursor-pointer items-center gap-x-3 rounded-md p-2 text-xs font-semibold text-night-100 hover:bg-slate-600 hover:dark:bg-night-500"
              [attr.data-testid]="'sidenav-' + item.route"
            >
              @if (item.icon) {
                <svg-icon [src]="item.icon" [svgClass]="'h-5 w-5'"> </svg-icon>
              }
              <!-- Label -->
              @if (menuService.showSidebar()) {
                <span class="whitespace-nowrap">{{ item.label | transloco }}</span>
              }
              <!-- Tooltip -->
              @if (!menuService.showSidebar()) {
                <div class="fixed z-[1010] w-full">
                  <span
                    class="z-1 absolute -top-[15px] left-14 w-auto min-w-max origin-left scale-0 rounded-md bg-black p-2 text-xs font-bold text-white shadow-md transition-all duration-200 group-hover:scale-100 dark:bg-white dark:text-night-900"
                  >
                    {{ item.label | transloco }}
                  </span>
                </div>
              }
            </a>
          </li>
        }
      }
    }
  </ul>
</nav>
