<div
  class="flex flex-auto cursor-pointer flex-col overflow-hidden rounded-2xl px-2 py-8 shadow transition duration-300 ease-in-out hover:shadow-md hover:brightness-90 dark:hover:brightness-110"
  [ngClass]="color"
>
  <div class="flex items-start justify-between"></div>
  <div class="mt-0 flex flex-col items-center">
    <!-- If data is not yet ready: we're still calculating the result or waiting for the API response -->
    @if (kpiValue === undefined || (kpiValue === 0 && isLoading())) {
      <div class="flip-animation text-7xl font-bold leading-none tracking-tight sm:text-7xl">
        <mat-spinner [diameter]="50"></mat-spinner>
      </div>
    }

    <!-- If data is ready (kpiValue could be 0 before finish loading the data from API) -->
    @if (kpiValue !== undefined && !(kpiValue === 0 && isLoading())) {
      <div class="flip-animation text-7xl font-bold leading-none tracking-tight sm:text-7xl" [ngClass]="color">
        {{ kpiValue }}
      </div>
    }

    <div class="mt-4 text-center text-lg sm:text-base">
      {{ kpiTitle }}
    </div>
  </div>
</div>
