.flip-animation {
  animation-name: flip-animation;
  animation-duration: 0.5s;
  transform-origin: center center;
  transform-style: preserve-3d;
  animation-timing-function: ease-in-out;
}

@keyframes flip-animation {
  0% {
    transform: rotateX(90deg);
    opacity: 1;
  }
  100% {
    transform: rotateX(0deg);
    opacity: 1;
  }
}
