<div class="flex flex-row space-x-2">
  <mat-form-field class="flex w-full">
    <mat-label>{{ searchLabel }}</mat-label>
    <input
      matInput
      [formControl]="searchFormControl"
      autocomplete="off"
      cdkOverlayOrigin
      #searchInputField="cdkOverlayOrigin"
      (focus)="onFocusSearchField()"
      (blur)="onBlurSearchField()"
    />
    @if (searchFormControl.hasError("invalidLogprepChars")) {
      <mat-icon
        matSuffix
        [matTooltip]="'shared.MESSAGES.INVALID_CHARS_DUE_TO_LOGPREP' | transloco"
        [attr.aria-label]="'shared.MESSAGES.INVALID_CHARS_DUE_TO_LOGPREP' | transloco"
        [matTooltipPosition]="'above'"
        class="text-red-500"
        >warning</mat-icon
      >
    }
    @if (!isFieldNameEcsField && searchFormControl.value.toString().trim() !== "") {
      <mat-icon
        matSuffix
        [matTooltip]="'shared.MESSAGES.FIELDNAME_NOT_AVAILABLE_IN_ECS_SCHEME' | transloco"
        [attr.aria-label]="'shared.MESSAGES.INVALID_CHARS_DUE_TO_LOGPREP' | transloco"
        [matTooltipPosition]="'above'"
        class="text-yellow-500"
        >warning</mat-icon
      >
    }
    @if (showValueIsNotInDropdownOptionsWarning && !searchFormControl.disabled && searchFormControl.value) {
      <mat-icon
        matPrefix
        [matTooltip]="'shared.EDITOR.WARNING_IS_NOT_SELECTED_FROM_OPTIONS_LIST' | transloco"
        [attr.aria-label]="'shared.EDITOR.WARNING_IS_NOT_SELECTED_FROM_OPTIONS_LIST' | transloco"
        [matTooltipPosition]="'above'"
        >warning</mat-icon
      >
    }
    @if (hasCancelButton && !searchFormControl.disabled && searchFormControl.value) {
      <mat-icon matSuffix (click)="onClickRemoveSearchQuery($event)">cancel</mat-icon>
    }
    @if (searchFormControl.hasError("required")) {
      <mat-error>
        {{ "shared.MESSAGES.REQUIRED_FIELD" | transloco }}
      </mat-error>
    }
    @if (hintMessage) {
      <mat-hint>{{ hintMessage }}</mat-hint>
    }
  </mat-form-field>
</div>

<!-- This template displays the overlay content: a table in an overlay -->
@if (displayColumnDefs) {
  <ng-template
    #searchResultTablePanel
    cdkConnectedOverlay
    [cdkConnectedOverlayOrigin]="searchInputField"
    [cdkConnectedOverlayOpen]="isOverlayOpen"
    [cdkConnectedOverlayPositions]="overlayPositions"
    [cdkConnectedOverlayBackdropClass]="'overlay-backdrop'"
    [cdkConnectedOverlayHasBackdrop]="true"
    (backdropClick)="closeOverlay()"
    (detach)="onDetachOverlay()"
  >
    <div class="mat-elevation-z2 overlay-content flex-col overflow-y-auto">
      <lib-dynamic-table
        [dataList]="dataSource.filteredData"
        [displayColumnDefs]="displayColumnDefs || []"
        [defaultSortingName]="defaultSortingName"
        [highlightRowIndex]="highlightRowIndex"
        (rowSelected)="selectRow($event)"
      >
        <!-- Row shown when there is no matching data -->
        <tr class="mat-row" *matNoDataRow>
          <td class="mat-cell" colspan="4">
            {{ "shared.MESSAGES.NO_DATA_FOUND" | transloco }}
          </td>
        </tr>
      </lib-dynamic-table>
    </div>
  </ng-template>
}
