<div
  class="h-full bg-[url('/assets/img/background/bg.svg')] bg-cover bg-center dark:bg-[url('/assets/img/background/bg_dark.svg')]"
>
  <h2
    class="justify-center p-4 text-2xl font-bold tracking-tight text-gray-900 dark:text-night-100"
    data-testid="dashboard-user-welcome"
  >
    {{ "DASHBOARD.WELCOME" | transloco }}{{ userProfile?.firstName }} {{ userProfile?.lastName }}
  </h2>

  <div class="grid-container">
    <!-- Dashboard cards can be filled generic. A card is highlighted (amber as background color) if its value exists and the variable highlightIfNotZero is set to true. If the value is null, a half-quarter stroke is displayed. -->

    <lib-dashboard-card
      (click)="
        onClickDashboardCard({
          route: dashboardCardTopLeft!.routerLink,
          navigationExtras: dashboardCardTopLeft!.navigationExtras,
        })
      "
      [kpiValue]="dashboardCardTopLeft!.value !== null ? dashboardCardTopLeft!.value : '–'"
      [kpiTitle]="dashboardCardTopLeft!.title | transloco"
      [color]="
        dashboardCardTopLeft!.value && dashboardCardTopLeft!.highlightIfNotZero
          ? 'bg-amber-300 text-black'
          : 'bg-accent-200 text-black'
      "
    />

    <lib-dashboard-card
      (click)="
        onClickDashboardCard({
          route: dashboardCardTopRight!.routerLink,
          navigationExtras: dashboardCardTopRight!.navigationExtras,
        })
      "
      [kpiValue]="dashboardCardTopRight!.value !== null ? dashboardCardTopRight!.value : '–'"
      [kpiTitle]="dashboardCardTopRight!.title | transloco"
      [color]="
        dashboardCardTopRight!.value && dashboardCardTopRight!.highlightIfNotZero
          ? 'bg-amber-300 text-black'
          : 'bg-accent-200 text-black'
      "
    />

    <lib-dashboard-card
      (click)="
        onClickDashboardCard({
          route: dashboardCardBottomLeft!.routerLink,
          navigationExtras: dashboardCardBottomLeft!.navigationExtras,
        })
      "
      [kpiValue]="dashboardCardBottomLeft!.value !== null ? dashboardCardBottomLeft!.value : '–'"
      [kpiTitle]="dashboardCardBottomLeft!.title | transloco"
      [color]="
        dashboardCardBottomLeft!.value && dashboardCardBottomLeft!.highlightIfNotZero
          ? 'bg-amber-300 text-black'
          : 'bg-accent-200 text-black'
      "
    />

    <lib-dashboard-card
      (click)="
        onClickDashboardCard({
          route: dashboardCardBottomRight!.routerLink,
          navigationExtras: dashboardCardBottomRight!.navigationExtras,
        })
      "
      [kpiValue]="dashboardCardBottomRight!.value !== null ? dashboardCardBottomRight!.value : '–'"
      [kpiTitle]="dashboardCardBottomRight!.title | transloco"
      [color]="
        dashboardCardBottomRight!.value && dashboardCardBottomRight!.highlightIfNotZero
          ? 'bg-amber-300 text-black'
          : 'bg-accent-200 text-black'
      "
    />
  </div>
</div>
