<div class="relative bg-white dark:bg-night-900">
  <div class="mx-auto px-5">
    <div class="flex items-center justify-between py-2 md:justify-start">
      <!-- Mobile Navigation Menu Button-->
      <div class="mr-2 sm:order-1 lg:mr-0 lg:hidden">
        <!-- we use stopPropagation because the clickEvent outside of the mobile menu would close it again immediately -->
        <button
          (click)="toggleMobileMenu(); $event.stopPropagation()"
          type="button"
          class="inline-flex items-center justify-center rounded-md bg-white p-2 text-gray-400 hover:bg-gray-100 hover:text-gray-500 focus:outline-none focus:ring-2 focus:ring-inset focus:ring-primary-500 dark:bg-night-900 dark:text-night-200 dark:hover:text-night-400"
          aria-expanded="false"
        >
          <span class="sr-only">{{ "shared.SIDENAV.OPEN_NAVBAR" | transloco }}</span>
          <svg-icon
            [src]="
              menuService.showMobileMenu()
                ? 'assets/icons/tablericons/playlist-x.svg'
                : 'assets/icons/tablericons/menu-2.svg'
            "
            [svgClass]="'h-6 w-6'"
          >
          </svg-icon>
        </button>
      </div>

      <!-- App name -->
      @if (!menuService.showSidebar()) {
        <div class="hidden items-center justify-start sm:order-2 md:flex">
          <b class="cursor-default text-sm font-bold dark:text-night-50 md:mr-2" [matTooltip]="appInfo.appName">
            {{ appInfo.appShortName }}
          </b>
        </div>
      }

      <div class="flex w-full items-center justify-between sm:order-4">
        <!-- Breadcrumbs -->
        <div class="flex-grow">
          <lib-breadcrumb></lib-breadcrumb>
        </div>
        <!-- Profile menu -->
        <lib-profile-menu
          [userProfile]="userProfile"
          [versionInfo]="versionInfo"
          (logout)="logout.emit()"
        ></lib-profile-menu>
      </div>
    </div>
  </div>

  <!-- Mobile menu -->
  <lib-navbar-mobile (closeMobileMenu)="closeMobileMenu()"></lib-navbar-mobile>
</div>
