<nav
  mat-tab-nav-bar
  mat-stretch-tabs="false"
  class="sticky-header border-b bg-white dark:border-gray-600 dark:bg-night-900"
  [tabPanel]="tabPanel"
>
  @for (tab of navTabs; track tab) {
    <span [matTooltip]="tab?.tooltip ? (tab?.tooltip | transloco) : ''">
      <a
        mat-tab-link
        [routerLink]="tab?.link"
        routerLinkActive
        #rla="routerLinkActive"
        [active]="rla.isActive"
        [disabled]="tab?.disabled"
        (click)="selectedIndexChange.emit(tab)"
      >
        {{ tab.label | transloco }}
      </a>
    </span>
  }
</nav>

<mat-tab-nav-panel #tabPanel class="h-full">
  <div class="overflow-hidden overflow-y-auto p-3">
    <router-outlet></router-outlet>
  </div>
</mat-tab-nav-panel>
