<div class="relative ml-3">
  <!-- Profile Button -->
  <button
    id="user-menu-button"
    (click)="toggleMenu()"
    class="relative flex rounded-full bg-gray-800 text-sm shadow-sm"
    type="button"
    aria-expanded="false"
    aria-haspopup="true"
  >
    <span class="sr-only">{{ "shared.SIDENAV.OPEN_USER_MENU" | transloco }}</span>
    <svg
      libClickInsideOutside
      (clickOutside)="isMenuOpen = false"
      class="h-9 w-9 rounded-md bg-white hover:cursor-pointer hover:bg-slate-200 dark:bg-black hover:dark:bg-slate-700"
      [data-jdenticon-value]="userProfile?.username"
    ></svg>
  </button>

  <!-- Dropdown -->
  <div
    [ngClass]="
      isMenuOpen
        ? 'pointer-events-auto scale-100 animate-fade-in-up opacity-100 duration-200'
        : 'pointer-events-none scale-95 opacity-0 duration-100 ease-in'
    "
    class="absolute right-0 z-[9999] w-64 origin-top-right transform rounded-2xl bg-white pt-3 shadow-md ring-1 ring-transparent ring-opacity-5 transition focus:outline-none dark:bg-night-600"
  >
    <div class="flex flex-row items-center px-4 py-2">
      <div class="w-10 shrink-0">
        <svg class="rounded-md bg-white dark:bg-black" [data-jdenticon-value]="userProfile?.username"></svg>
      </div>
      <div class="overflow-hidden px-2 text-sm font-semibold text-gray-700 dark:text-night-50">
        {{ userProfile?.username }}
        <p class="truncate text-ellipsis text-xs font-semibold text-gray-400 dark:text-night-300">
          {{ userProfile?.email }}
        </p>
      </div>
    </div>

    <div class="border-b border-dashed border-gray-200 dark:border-night-400"></div>

    @if (versionInfo) {
      <div class="px-4 text-sm text-gray-800 dark:text-night-100">
        <div class="flex items-center py-2">
          <div class="flex flex-col">
            <div class="font-bold">
              {{ "shared.TOOLBAR.META_INFO.VERSION_INFO" | transloco }}
            </div>
            <table class="table-auto">
              <tbody>
                <tr>
                  <td>{{ "shared.TOOLBAR.META_INFO.BACKEND_VERSION" | transloco }}</td>
                  <td>{{ versionInfo.backendVersion }}</td>
                </tr>
                <tr>
                  <td>{{ "shared.TOOLBAR.META_INFO.FRONTEND_VERSION" | transloco }}</td>
                  <td>{{ versionInfo.frontendVersion }}</td>
                </tr>
                <tr>
                  <td>{{ "shared.TOOLBAR.META_INFO.SHARED_FRONTEND_VERSION" | transloco }}</td>
                  <td>{{ versionInfo.sharedFrontendVersion }}</td>
                </tr>
                @if (versionInfo.logprepVersion) {
                  <tr>
                    <td>{{ "shared.TOOLBAR.META_INFO.LOGPREP" | transloco }}</td>
                    <td>{{ versionInfo.logprepVersion }}</td>
                  </tr>
                }
                <tr>
                  <td>{{ "shared.TOOLBAR.META_INFO.BACKEND_COMMIT" | transloco }}</td>
                  <td>{{ versionInfo.backendCommitHash }}</td>
                </tr>
                <tr>
                  <td>{{ "shared.TOOLBAR.META_INFO.FRONTEND_COMMIT" | transloco }}</td>
                  <td>{{ versionInfo.frontendCommitHash }}</td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    }

    <div class="border-b border-dashed border-gray-200 dark:border-night-400"></div>

    <ul class="mx-4 my-2">
      <button
        [disabled]="isAuthDisabled"
        (click)="logout.emit()"
        class="block w-full cursor-pointer rounded-md p-3 text-sm font-semibold text-gray-700 hover:bg-gray-100 hover:text-primary-500 dark:text-night-200 dark:hover:bg-night-500 dark:hover:text-primary-500"
      >
        {{ "shared.TOOLBAR.LOGOUT" | transloco }}
      </button>
    </ul>
  </div>
</div>
