<div class="flex items-center">
  <div class="flex items-center space-x-2" matSnackBarLabel>
    <div class="flex items-center">
      <mat-icon>{{ data.icon }}</mat-icon>
    </div>
    <div class="flex items-center" data-testid="snackbar-message">{{ data.message }}</div>
  </div>

  <button mat-button matSnackBarAction (click)="closeSnackbar()" data-testid="snackbar-button-close">
    <mat-icon class="text-sm">close</mat-icon>
  </button>
</div>
