<div class="mb-3 mt-1 flex flex-wrap">
  <mat-form-field class="w-full">
    @if (title) {
      <mat-label [matTooltip]="hoverDescription">{{ title }}</mat-label>
    }
    <mat-chip-grid
      #chipGrid
      [formControl]="chipsFormControl"
      [attr.aria-label]="'GENERAL.VALUE_SELECTION' | transloco"
      class="mt-2"
    >
      @for (option of selectedOptions; track option; let i = $index) {
        <mat-chip-row (removed)="removeFormSelectedOptions(i)">
          {{ option }}
          <button matChipRemove>
            <mat-icon>cancel</mat-icon>
          </button>
        </mat-chip-row>
      }

      <!-- Disable AddOnBlur when mat-autocomplete is used (when autocompleteOptions.length) -->
      <input
        #optionInput
        [formControl]="optionInputCtrl"
        [placeholder]="!chipsFormControl.disabled ? ('GENERAL.ADD_NEW_VALUE' | transloco) : ''"
        [matAutocomplete]="auto"
        [matChipInputFor]="chipGrid"
        [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
        [matChipInputAddOnBlur]="addOnBlur && (!autocompleteOptions || !autocompleteOptions.length)"
        (matChipInputTokenEnd)="addOption($event)"
      />
    </mat-chip-grid>
    @if (chipsFormControl.hasError("keyValueError")) {
      <mat-error>
        {{ "shared.MESSAGES.KEY_VALUE_SYNTAX_EXPECTED" | transloco }}
      </mat-error>
    }
    @if (
      !chipsFormControl.disabled &&
      !optionInputCtrl.hasError("keyValueError") &&
      (!autocompleteOptions || !autocompleteOptions.length)
    ) {
      <mat-hint>
        {{ "shared.MESSAGES.ENTER_OR_COMMA_AFTER_EACH_TAG" | transloco: { syntax: "key:value" } }}
      </mat-hint>
    }

    <mat-autocomplete #auto="matAutocomplete" (optionSelected)="selectOption($event)">
      @for (option of filteredOptions | async; track option) {
        <mat-option [value]="option">
          {{ option }}
        </mat-option>
      }
    </mat-autocomplete>
  </mat-form-field>
</div>
