<table mat-table [dataSource]="dataSource" matSort #sort="matSort" class="mat-elevation-z2">
  @for (col of displayColumnDefs; track col) {
    <ng-container [matColumnDef]="col.key">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>{{ col.label }}</th>
      <td mat-cell *matCellDef="let element; let i = index" [ngClass]="{ 'bg-highlighted': highlightRowIndex === i }">
        @if (col.type === "number") {
          <div>{{ element[col.key] | number: "1.2" }}</div>
        }
        <!-- : locale -->
        @if (col.type === "date") {
          <div>{{ element[col.key] | date: "dd.MM.yyyy" }}</div>
        }
        @if (col.type !== "number" && col.type !== "date") {
          <div>{{ element[col.key] }}</div>
        }
      </td>
    </ng-container>
  }

  <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true" class="small-header bg-gray-300"></tr>
  <tr
    mat-row
    *matRowDef="let row; columns: displayedColumns"
    class="cursor-pointer hover:bg-gray-200 hover:dark:bg-gray-700"
    (click)="selectRow(row)"
  ></tr>
</table>
