<nav
  [ngClass]="menuService.showSidebar() ? 'w-52 xl:w-64' : 'w-[70px]'"
  class="scrollbar-thumb-rounded scrollbar-track-rounded hidden h-full flex-col justify-between overflow-auto bg-slate-800 pt-2 transition-all duration-300 scrollbar-thin scrollbar-track-slate-600 scrollbar-thumb-slate-700 dark:bg-night-700 dark:scrollbar-track-night-600 dark:scrollbar-thumb-night-500 lg:flex"
>
  <div class="px-4">
    <div class="mb-2">
      <div class="mb-2 flex items-center justify-start">
        <button
          (click)="toggleSidebar()"
          id="toggle-sidebar-button"
          class="group flex cursor-pointer items-center gap-x-3 rounded-md p-2 text-xs font-semibold text-night-100 hover:bg-slate-600 hover:dark:bg-night-500"
          [matTooltip]="'shared.TOOLBAR.COLLAPSE' | transloco"
          [matTooltipDisabled]="!menuService.showSidebar()"
        >
          <svg-icon
            src="assets/icons/tablericons/chevron-double-left.svg"
            [svgClass]="'h-5 w-5'"
            [ngClass]="{ 'rotate-180': !menuService.showSidebar() }"
          >
          </svg-icon>
          <!-- Tooltip -->
          @if (!menuService.showSidebar()) {
            <div class="fixed z-[1010] w-full">
              <span
                class="z-1 absolute -top-[15px] left-14 w-auto min-w-max origin-left scale-0 rounded-md bg-black p-2 text-xs font-bold text-white shadow-md transition-all duration-200 group-hover:scale-100 dark:bg-white dark:text-night-900"
              >
                {{ "shared.TOOLBAR.EXPAND" | transloco }}
              </span>
            </div>
          }
        </button>
        <!-- App name -->
        @if (menuService.showSidebar()) {
          <div class="w-full text-right">
            <b class="cursor-default justify-self-end text-sm text-night-100" [matTooltip]="appInfo.appName">
              {{ appInfo.appShortName }}
            </b>
          </div>
        }
      </div>
    </div>

    <!-- Menu Items -->
    <lib-sidebar-menu></lib-sidebar-menu>
  </div>

  <div class="mx-4 my-4 space-y-1">
    <!-- FAQ -->
    <a
      id="faq-link"
      routerLink="/faq"
      [routerLinkActive]="'text-primary-500 dark:text-primary-500'"
      class="group flex cursor-pointer items-center gap-x-3 rounded-md p-2 text-xs font-semibold text-night-100 hover:bg-slate-600 hover:dark:bg-night-500"
    >
      <svg-icon src="assets/icons/tablericons/help-hexagon.svg" [svgClass]="'h-5 w-5'"> </svg-icon>
      <!-- Label -->
      @if (menuService.showSidebar()) {
        <span class="whitespace-nowrap">{{ "shared.TOOLBAR.FAQ" | transloco }}</span>
      } @else if (!menuService.showSidebar()) {
        <!-- Tooltip -->
        <div class="fixed z-[1010] w-full">
          <span
            class="z-1 absolute -top-4 left-12 w-auto min-w-max origin-left scale-0 rounded-md bg-black p-2 text-xs font-bold text-white shadow-md transition-all duration-200 group-hover:scale-100 dark:bg-white dark:text-night-900"
          >
            {{ "shared.TOOLBAR.FAQ" | transloco }}
          </span>
        </div>
      }
    </a>

    <!-- Theme Toggler -->
    <div class="rounded text-night-100 hover:bg-slate-600 hover:dark:bg-night-500">
      <lib-theme-toggler [showTooltip]="!menuService.showSidebar()"></lib-theme-toggler>
    </div>

    <!-- Sign out -->
    <button
      id="logout-button"
      (click)="logout.emit()"
      class="group flex cursor-pointer items-center gap-x-3 rounded-md p-2 text-xs font-semibold text-night-100 hover:bg-slate-600 hover:dark:bg-night-500"
    >
      <svg-icon src="assets/icons/tablericons/logout.svg" [svgClass]="'h-5 w-5'"> </svg-icon>
      <!-- Label -->
      @if (menuService.showSidebar()) {
        <span class="whitespace-nowrap">{{ "shared.TOOLBAR.LOGOUT" | transloco }}</span>
      } @else if (!menuService.showSidebar()) {
        <!-- Tooltip -->
        <div class="fixed z-[1010] w-full">
          <span
            class="z-1 absolute -top-4 left-12 w-auto min-w-max origin-left scale-0 rounded-md bg-black p-2 text-xs font-bold text-white shadow-md transition-all duration-200 group-hover:scale-100 dark:bg-white dark:text-night-900"
          >
            {{ "shared.TOOLBAR.LOGOUT" | transloco }}
          </span>
        </div>
      }
    </button>
  </div>
</nav>
