<div
  [ngClass]="
    menuService.showMobileMenu()
      ? 'pointer-events-auto scale-100 opacity-100 duration-200'
      : 'pointer-events-none scale-95 opacity-0 duration-100 ease-out'
  "
  class="absolute inset-x-0 top-12 z-[1010] w-72 origin-top-right transform p-2 transition lg:hidden"
  libClickInsideOutside
  (clickOutside)="closeMobileMenu.emit()"
>
  <div class="rounded-b-lg bg-white shadow-lg ring-1 ring-black ring-opacity-5 dark:bg-night-700">
    <div class="py-3">
      <!-- App name -->
      <div class="mx-5 mb-2 md:hidden">
        <b class="cursor-default text-sm font-bold dark:text-night-50" [matTooltip]="appInfo.appName">{{
          appInfo.appShortName
        }}</b>
      </div>
      <div class="max-h-[500px] overflow-y-auto px-5">
        <nav class="flex flex-1 flex-col" aria-label="mobile-menu">
          <ul role="list" class="-mx-2 space-y-1">
            @for (menuItem of menuService.menuItems(); track $index) {
              @for (item of menuItem.children; track $index) {
                <!-- Menu items -->
                @if (item.children) {
                  <!-- render submenu items -->
                  @for (subItem of item.children; track $index) {
                    <li
                      [ngClass]="{
                        'border-t border-t-night-100/50 pt-1': $first,
                        'border-b border-b-night-100/50 pb-1': $last,
                      }"
                    >
                      <a
                        [id]="'sub-item-link-' + $index"
                        class="group flex items-center gap-x-3 rounded-md p-2 text-xs font-semibold text-gray-600 hover:bg-gray-100 dark:text-night-100 hover:dark:bg-night-500"
                        [routerLink]="subItem.route"
                        [routerLinkActive]="'text-primary-500 dark:text-primary-500'"
                        (click)="closeMobileMenu.emit()"
                      >
                        @if (subItem.icon) {
                          <svg-icon [src]="subItem.icon" [svgClass]="'h-5 w-5'"> </svg-icon>
                        }
                        {{ subItem.label | transloco }}
                      </a>
                    </li>
                  }
                } @else {
                  <li>
                    <a
                      [id]="'item-link-' + $index"
                      [routerLink]="item.route"
                      [routerLinkActive]="'text-primary-500 dark:text-primary-500'"
                      (click)="closeMobileMenu.emit()"
                      class="group flex cursor-pointer items-center gap-x-3 rounded-md p-2 text-xs font-semibold text-gray-600 hover:bg-gray-100 dark:text-night-100 hover:dark:bg-night-500"
                    >
                      @if (item.icon) {
                        <svg-icon [src]="item.icon" [svgClass]="'h-5 w-5'"> </svg-icon>
                      }
                      {{ item.label | transloco }}
                    </a>
                  </li>
                }
              }
            }
            <!-- FAQ -->
            <li>
              <a
                id="faq-link"
                class="group flex items-center gap-x-3 rounded-md p-2 text-xs font-semibold text-gray-600 hover:bg-gray-100 dark:text-night-100 hover:dark:bg-night-500"
                [routerLink]="'/faq'"
                [routerLinkActive]="'text-primary-500 dark:text-primary-500'"
                (click)="closeMobileMenu.emit()"
              >
                <svg-icon src="assets/icons/tablericons/help-hexagon.svg" [svgClass]="'h-5 w-5'"> </svg-icon>
                {{ "shared.TOOLBAR.FAQ" | transloco }}
              </a>
            </li>
            <!-- Theme Toggler -->
            <li class="border-t border-t-night-100/50 pt-1">
              <a
                class="group flex gap-x-3 rounded-md text-xs font-semibold text-gray-600 hover:bg-gray-100 dark:text-night-100 hover:dark:bg-night-500"
              >
                <lib-theme-toggler [showTooltip]="false" (themeChanged)="closeMobileMenu.emit()"></lib-theme-toggler>
              </a>
            </li>
          </ul>
        </nav>
      </div>
    </div>
  </div>
</div>
