<button
  type="button"
  class="relative inline-flex h-4 w-7 flex-shrink-0 cursor-pointer rounded-full border-2 border-transparent transition-colors duration-200 ease-in-out focus:outline-none focus:ring-1 focus:ring-offset-1 disabled:cursor-not-allowed"
  [ngClass]="{
    'bg-primary-500 focus:ring-primary-500': isChecked === true && colorScheme === 'primary',
    'bg-accent-500 focus:ring-accent-500': isChecked === true && colorScheme === 'accent',
    'bg-gray-300 focus:ring-gray-300 dark:bg-gray-500 dark:focus:ring-gray-500': isChecked === false,
  }"
  role="switch"
  aria-checked="false"
  [matTooltip]="toolTip"
  [matTooltipDisabled]="!toolTip"
  [disabled]="buttonStateIsLocked"
  (click)="onClickToggle()"
>
  <span
    class="pointer-events-none relative inline-block h-3 w-3 transform rounded-full bg-white shadow ring-0 transition duration-200 ease-in-out"
    [ngClass]="{
      'translate-x-3': isChecked === true,
      'translate-x-0': isChecked === false,
    }"
  >
    <span
      class="absolute inset-0 flex h-full w-full items-center justify-center opacity-0 transition-opacity duration-100 ease-out"
      [ngClass]="{
        'opacity-100 duration-200 ease-in': buttonStateIsLocked && isChecked === false,
      }"
      aria-hidden="true"
    >
      <svg class="h-2.5 w-2.5 text-gray-400" fill="none" viewBox="0 0 12 12">
        <path
          d="M4 8l2-2m0 0l2-2M6 6L4 4m2 2l2 2"
          stroke="currentColor"
          stroke-width="2"
          stroke-linecap="round"
          stroke-linejoin="round"
        />
      </svg>
    </span>
    <span
      class="absolute inset-0 flex h-full w-full items-center justify-center opacity-0 transition-opacity duration-100 ease-out"
      [ngClass]="{
        'opacity-100 duration-200 ease-in': buttonStateIsLocked && isChecked === true,
      }"
      aria-hidden="true"
    >
      <svg
        class="h-2.5 w-2.5"
        [ngClass]="{
          'text-primary-500': colorScheme === 'primary',
          'text-accent-500': colorScheme === 'accent',
        }"
        fill="currentColor"
        viewBox="0 0 12 12"
      >
        <path
          d="M3.707 5.293a1 1 0 00-1.414 1.414l1.414-1.414zM5 8l-.707.707a1 1 0 001.414 0L5 8zm4.707-3.293a1 1 0 00-1.414-1.414l1.414 1.414zm-7.414 2l2 2 1.414-1.414-2-2-1.414 1.414zm3.414 2l4-4-1.414-1.414-4 4 1.414 1.414z"
        />
      </svg>
    </span>
  </span>
</button>
