<div [ngClass]="{ dark: themeService.isDark }">
  <div class="flex h-screen w-full overflow-hidden">
    <!-- Sidebar -->
    <lib-sidebar [appType]="appType" (logout)="logout()"></lib-sidebar>

    <div class="flex grow flex-col content-start overflow-hidden bg-gray-100 dark:bg-night-800">
      <!-- Header -->
      <lib-navbar
        [menuItems]="menuItems"
        [appType]="appType"
        [versionInfo]="versionInfo"
        [userProfile]="userProfile"
        (logout)="logout()"
      ></lib-navbar>

      <!-- DISCLAIMER IN NO-AUTH MODE -->
      @if (isAuthDisabled) {
        <div class="flex h-12 items-center justify-center bg-rose-300 dark:bg-rose-400">
          <mat-icon class="mr-4">error</mat-icon>
          <div>{{ "shared.SIDENAV.NO_AUTH_DISCLAIMER" | transloco }}</div>
        </div>
      }

      <!-- main content -->
      <div
        id="main-content"
        class="scrollbar-thumb-rounded scrollbar-track-rounded grow overflow-auto scrollbar-thin scrollbar-track-gray-100 scrollbar-thumb-white dark:scrollbar-track-night-800 dark:scrollbar-thumb-night-700"
      >
        <lib-loading-progress></lib-loading-progress>
        <router-outlet></router-outlet>
      </div>

      <!-- Bottom bar -->
      <!-- <app-bottom-navbar></app-bottom-navbar> -->
    </div>
  </div>
  @if (showScreenSizeHelper) {
    <lib-responsive-helper></lib-responsive-helper>
  }
</div>
