<h2>{{ data.title | transloco: { value: data.itemIdentifier || "" } }}</h2>

<div class="mb-4">
  <p>{{ data.text | transloco: { value: data.itemIdentifier || "" } }}</p>
</div>

@if (data.relatedObjects && data.relatedObjects.length > 0) {
  <div class="mb-4 mt-8">
    <p>{{ data.warningMessage | transloco }}:</p>
    <mat-list>
      @for (relatedObj of data.relatedObjects; track relatedObj) {
        <a mat-list-item [routerLink]="[data.routerLink, relatedObj.id]" target="_blank">
          <span class="text-sm">
            {{ relatedObj.name }}
            @if (relatedObj.status) {
              <span>({{ relatedObj.status }})</span>
            }
          </span>
          <button matListItemMeta mat-stroked-button color="accent">
            <mat-icon>chevron_right</mat-icon>
            {{ data.relatedObjButtonTitle | transloco }}
          </button>
        </a>
      }
    </mat-list>
  </div>
}

<ng-container *ngTemplateOutlet="confirmOrDelete; context: { hasAction: data.hasActions }"></ng-container>

<ng-template #confirmOrDelete let-hasAction="hasAction">
  @if (hasAction) {
    <div mat-dialog-actions>
      <button mat-stroked-button (click)="onNoClick()">{{ "shared.BUTTONS.CANCEL" | transloco }}</button>
      <button mat-raised-button [mat-dialog-close]="true" cdkFocusInitial>{{ "shared.BUTTONS.OK" | transloco }}</button>
    </div>
  }
</ng-template>
