<div class="min-w-28">
  <div class="flex items-center justify-between">
    <label
      [for]="identifier"
      [attr.data-testid]="'input-label-' + identifier"
      class="block text-sm font-semibold text-slate-800 dark:text-white"
      >{{ label }}</label
    >
    @if (formControl.hasValidator(validators.required) === false) {
      <span
        [attr.data-testid]="'input-hint-' + identifier"
        class="text-sm font-normal text-slate-400 dark:text-slate-500"
        >{{ "shared.FORM_FIELD.OPTIONAL" | transloco }}</span
      >
    }
  </div>
  <div class="mt-1 grid grid-cols-1">
    <input
      [formControl]="formControl"
      [type]="type"
      [id]="identifier"
      [name]="identifier"
      [placeholder]="placeholder"
      [attr.data-testid]="'input-' + identifier"
      class="peer col-start-1 row-start-1 block w-full rounded-md bg-white py-1.5 pl-3 pr-8 text-sm/6 font-normal outline-1 -outline-offset-1 outline-slate-300 focus:outline-2 focus:-outline-offset-2 enabled:outline disabled:cursor-not-allowed disabled:bg-slate-200 disabled:text-slate-600 dark:bg-white/5 dark:outline-white/10 disabled:dark:bg-slate-900 disabled:dark:text-slate-400"
      [ngClass]="
        formControl.touched && formControl.errors
          ? 'text-red-900 outline-red-300 placeholder:text-red-300 focus:outline-red-600 dark:text-red-500 dark:outline-red-400 dark:placeholder:text-red-500/60 focus:dark:outline-red-600'
          : 'text-slate-900 placeholder:text-slate-400 focus:outline-primary-600 dark:text-slate-50 dark:placeholder:text-slate-500 focus:dark:outline-primary-500'
      "
    />
    @if (formControl.touched && formControl.errors) {
      <svg-icon
        [src]="errorIconPath"
        class="col-start-1 row-start-1 mr-2 cursor-pointer self-center justify-self-end text-red-600 peer-focus:text-red-600 dark:text-red-600 dark:peer-focus:text-red-600"
        svgClass="size-5"
        data-slot="icon"
        [attr.data-testid]="'input-error-icon-' + identifier"
        [matTooltip]="translatedErrorMessage"
        [matTooltipDisabled]="!translatedErrorMessage"
        tabindex="0"
      ></svg-icon>
    } @else if (showIcon) {
      <svg-icon
        [src]="iconPath"
        class="col-start-1 row-start-1 mr-2 cursor-pointer self-center justify-self-end text-slate-400 peer-focus:text-slate-500 dark:text-slate-500 dark:peer-focus:text-slate-300"
        svgClass="size-5"
        data-slot="icon"
        [attr.data-testid]="'input-help-icon-' + identifier"
        [matTooltip]="translatedTooltip"
        [matTooltipDisabled]="!translatedTooltip"
        tabindex="0"
      ></svg-icon>
    }
  </div>
</div>
